<mat-card>

  <form class="example-form" fxLayoutGap="5%">
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <mat-label>name*</mat-label>
            <input matInput>
          </mat-form-field>
        </td>

        <td>
          <mat-form-field class="example-full-width">
            <mat-label>Description</mat-label>
            <input matInput>
          </mat-form-field>
        </td>
      </tr>
    </table>
    <!-- <mat-card-actions>

      <button mat-button>submit</button>
    </mat-card-actions> -->

  </form>
</mat-card>

<div class="container">
  <div class="flex-container" fxLayout="column" fxLayoutGap="5%" flexLayoutAlign="space between">
    
         <mat-card>
          <span class="material-icons">
            priority_high
            </span> 
          As soon as incidient is triggered</mat-card>

  </div>